<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999519334523-pvs5gqj27hg5r93ec7nn1hf3osc6uaq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999519334523-pvs5gqj27hg5r93ec7nn1hf3osc6uaq4</string>
	<key>API_KEY</key>
	<string>AIzaSyAKQKSY9vEte12uHWWn8dkwdbe96n6pIVM</string>
	<key>GCM_SENDER_ID</key>
	<string>999519334523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tsolovart.toDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-4c09d</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-4c09d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999519334523:ios:db66c1a79373ced45432de</string>
</dict>
</plist>